//Breakponts
$desktop-breakpoint:720px;

//Colours

$bodhi-green: #8cc63f; // Lime green from logo
//Dark Theme
$bodhi-dark-main-background:#ffffff;//#292627; //Dark Grey (main background)
$bodhi-dark-intro-background:#000000; //Black (intro and email sign up background)
$bodhi-dark-footer-background:#000000; //Black (footer background)
$bodhi-dark-testimonials-background:#292627; //Dark Grey (testimonials background)

$bodhi-dark-cyan-grad: hsl(176, 68%, 64%); //Cyan (inside call-to-action gradient)
$bodhi-dark-blue-grad: hsl(198, 60%, 50%); //Blue (inside call-to-action gradient)

$bodhi-dark-copy:hsl(0, 0%, 100%);


//Light Theme
$bodhi-light-testimonials-background:#cccccc;
$bodhi-light-copy:#292627; //Dark Grey
$bodhi-light-main-background:#ffffff; // White  (main background)
$bodhi-light-intro-background:hsl(217, 28%, 15%); //Dark Blue (intro and email sign up background)
$bodhi-light-footer-background:hsl(216, 53%, 9%); //Dark Blue (footer background)

//Fonts
$heading-font:'Raleway',
sans-serif;
$body-font:'Open Sans',
sans-serif;
//Mobile font sizes
$p-size-m:4vw;
$h1-size-m:6.4vw;
$h2-size-m:5.6vw;
$h3-size-m:5.066vw;
//Desktop font sizes
$p-size-dt:1.458vw;
$h1-size-dt:2.777vw;
$h2-size-dt:2.0138vw;
$h3-size-dt:2.22vw;