section.features {
    width: 100%;
    display: grid;
    padding: 6.94vw;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-areas: "onetoone""group""online""plans";
    grid-row-gap: 10vw;
    

    @include for-desktop {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "onetoone group""online plans";
        grid-column-gap: 4vw;
        grid-row-gap: 4vw;
    }
    p,h3{
        color: $bodhi-light-copy; 
    }

    .features__feature-left {
        @include for-desktop {
            margin-left: 10vw;
        }

    }

    .features__feature-right {
        @include for-desktop {
            margin-right: 10vw;
        }

    }


    img {
        width: 24vw;
        margin: 0 auto;

        @include for-desktop {
            width: 6.96vw;
        }
    }


    .feature-area-a {
        grid-area: onetoone;

    }

    .feature-area-b {
        grid-area: group;
    }

    .feature-area-c {
        grid-area: online;
    }

    .feature-area-d {
        grid-area: plans;
    }

    

    .features__feature-double {
        align-self: center;
        margin: 0;
        text-align: left;

        h3,
        p,
        a {
            text-align: left;
        }

        a {
            text-decoration: underline;
            font-size: $p-size-m;
            padding-right: 6vw;
            color: $bodhi-dark-cyan-grad;
            background-image: url(../images/icon-arrow.svg);
            background-position: right center;
            background-repeat: no-repeat;
            background-size: contain;

            @include for-desktop {
                font-size: $p-size-dt;
                padding-right: 3vw;
            }
        }

        h3 {
            @include for-desktop {
                font-size: 2.777vw;
                width: 25vw;
            }
        }


        img {
            width: 100%;
        }

    }

}

section.section__about{
    background-color: $bodhi-dark-intro-background;
    padding: 5vw 0;
    a {
        text-decoration: underline;
        font-size: $p-size-m;
        
        color: $bodhi-green;
        

        @include for-desktop {
            font-size: $p-size-dt;
            
        }
    }
    .two-col-block{
        display: flex;
        flex-direction: column;
        margin: 2vw;
        padding: 0 5vw;
        

        @include for-desktop {  
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            margin: 2vw;
            
        }
    }
    
    .two-col-block__column {
        img{
            width: 100%;
            padding: 1vw;
        }
        
        
        p{
            text-align: justify;
        }
        //@include element-boundary;
        @include for-desktop {
            
            flex-basis: 900px;
            img{
                padding-left: 0;
                padding-right: 5vw;
            }
        }
    }
    .two-col-block--reverse{
        @include for-desktop {  
            flex-direction: row-reverse;
            img{
                padding-left: 5vw;
                padding-right: 0;
            }
            
        }
    }



}

section.testimonials {
    background-color: $bodhi-green;
    background-image: url(../images/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    display: grid;
    padding: 6.94vw;
    
    justify-content: space-evenly;
    align-items: baseline;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-areas: "quote-1""quote-2""quote-3";
    row-gap: 10vw;



    @include for-desktop {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "quote-1 quote-2 quote-3";
        column-gap: 4vw;
        row-gap: 4vw;
        padding-bottom:40vw;

    }

    .testimonial__quote-mark {
        position: absolute;
       
        width: 10vw;
        color: $bodhi-green;

        @include for-desktop {
           
            width: 5vw;
           
            font-size: 12vw;
            line-height: 0;
           
        }
    }
    .testimonial__quote-mark--left{
        left: 10vw;
        top: .5vw;
        @include for-desktop {
            left: 5vw;
            top: 10vw;
    }
}
.testimonial__quote-mark--right{
    left: 90vw;
    top: .5vw;
    @include for-desktop {
        left: 90vw;
        top: 36.5vw;
    }
    }
}

.testimonial {
    @include rounded-raised-div;
    background-color: $bodhi-dark-testimonials-background;
    padding: 8vw;
    flex: 1;
    box-shadow: 5px 5px 5px 3px rgba(0, 0,0, 0.7);
    ;

    @include for-desktop {
        padding: 2vw;
    }

    img {
        width: 6.4vw;
        clip-path: circle(3.2vw at 3.2vw 3.2vw);

        @include for-desktop {
            width: 1.94vw;
            clip-path: circle(.97vw at .97vw .97vw);
        }
    }

    p {
        text-align: left;
    }

}

.feature-area-aa {
    grid-area: quote-1;

}

.feature-area-bb {
    grid-area: quote-2;
}

.feature-area-cc {
    grid-area: quote-3;
}

.profile {
    display: grid;
    justify-content: start;
    align-items: center;
    text-align: left;
    grid-template-columns: 6.4vw 44vw;
    grid-template-areas: "e-pic e-name""e-pic e-role";
    grid-row-gap: .5vw;
    column-gap: 3vw;
    color: $bodhi-dark-copy;

    @include for-desktop {
        grid-template-columns: 1.94vw 9vw;
        font-size: .7vw;
        column-gap: .7vw;
    }



    .endorser {
        grid-area: e-name;
        font-family: $heading-font;

        font-weight: 700;
    }

    .job-title {
        grid-area: e-role;
        font-family: $body-font;
    }

    .profile-image {
        grid-area: e-pic;
    }
}

