.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color:  $bodhi-dark-intro-background;
    background-image: url(../images/kb-squat.jpg);
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%),url(../images/kb-squat.jpg);
    
     background-repeat: no-repeat;
     background-size: contain;
    width: 100vw;
    height: 250vw;
    padding-bottom: 1px;
    z-index: -1;

    @include for-desktop {
        height: 110vw;
    }
}

header {
    width: 100vw;
    
    padding-bottom: 5vw;

    .overlay {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: $bodhi-dark-testimonials-background;
        opacity: 0;
        z-index: -50;

        @include for-desktop {
            display: none;
        }
    }

    nav {
        width: 100%;
        height: 4vw;
        padding: 0 10.666vw;
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        // display: none;


        @include for-desktop {
            height: 6vw;
            padding: 0 5.555vw;
            display: block;


        }

        #menu_kb, #menu_trigger {
            
            width: 8vw;
            position: fixed;
            z-index: 200;
            top: 5.9vw;
            left: 85vw;
            

            @include for-desktop {
                display: none;


            }
        }

        #menu_trigger{
            z-index: 900;
            height: 8vw;
            display: block;
            cursor: pointer;
            
        }
        ion-icon.close, ion-icon.menu {
            height: 5vw;
            width: 5vw;
            position: fixed;
            fill: #8cc63f;
            top: 9.1vw;
            left: 86.1vw;
            z-index: 300;

            @include for-desktop {
                display: none;


            }
        }
        ion-icon.close {
            opacity: 0
        };
        .stack {
            
            width: 100vw;
            position: fixed;
            top: 0;
            left: 0;
            z-index: -50;
            
            @include for-desktop {
                display: none;


            }

            ul {
                margin: 20vw auto 0 auto;
                display: block;
                z-index: 300;
                padding-left: 0;

                li {
                    
                    opacity: 1;
                    width: 50vw;
                    margin: 0 auto;
                    text-align: center;
                    opacity: 0;
                    font-size: 11vw;
                    padding-top: 5vw;
                    z-index: 300;
                    width: 100vw;
                    
                }

                

            }

            
        }

        

        a {
            margin: 0;
        }

        svg {
            width: 21.866vw;
            height: 6.933vw;

            @include for-desktop {
                width: 12.847vw;
                height: 4.027vw;
            }
        }

        ul {
            // 
             display: none;
            // 

            @include for-desktop {
                display: flex;
                width: 20.833vw;
                justify-content: space-between;
            }

            li {
                // font-size: 2.733vw;

                @include for-desktop {
                    font-size: 1.111vw;
                    padding-left: 2vw;
                }

                a {
                    color: $bodhi-dark-copy;

                }

                a:hover {
                    @include for-desktop {
                        text-decoration: underline;
                    }
                }

            }
        }

    }

    //img,
    //svg,
    //h1,
    p {
        width: 83vw;
        margin: 9vw auto 8vw auto;
        text-align: center;

        @include for-desktop {
            width: 50.138vw;
            margin: 6vw auto 3vw auto;
        }
    }
    img{
        width: 100%;
    }
    .header__logo-container{
        width: 81.333vw;
        margin: 1vw auto 16vw auto;
        text-align: justify;

        @include for-desktop {
            width: 50.138vw;
            margin: 0 auto 2vw auto;
        }
    }
    p {
        @include for-desktop {
            width: 68vw;
        }
    }

    a {
        margin: 9vw auto;

        @include for-desktop {

            margin: 3vw auto;
        }
    }
}