section.features {
    width: 100%;
    display: grid;
    padding: 4vw 6.94vw 6.94vw 6.94vw;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-areas: "heading""online""spine""plans""onetoone""group";
    grid-row-gap: 10vw;



    @include for-desktop {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "heading heading""online spine""plans plans""onetoone group";
        grid-column-gap: 4vw;
        grid-row-gap: 4vw;
    }

    h1 {
        color: $bodhi-light-copy;
        grid-area: heading;
    }

    p,
    h3 {
        color: $bodhi-light-copy;
    }

    .features__feature-left {
        @include for-desktop {
            margin-left: 10vw;
        }

    }

    .features__feature-right {
        @include for-desktop {
            margin-right: 10vw;
        }

    }
    .features__feature-middle{
        @include for-desktop {
            margin: 0 auto;
        }

    }


    img {
        width: 24vw;
        margin: 0 auto;

        @include for-desktop {
            width: 6.96vw;
        }
    }


    .feature-area-a {
        grid-area: onetoone;

    }

    .feature-area-b {
        grid-area: group;

        img {
            width: 30vw;
            margin: 0 auto;
    
            @include for-desktop {
                width: 9.5vw;
            }
        }
    }

    .feature-area-c {
        grid-area: online;

        img {
            width: 24vw;
            margin: 0 auto;
    
            @include for-desktop {
                width: 9.5vw;
            }
        }
    }

    .feature-area-d {
        grid-area: plans;
        
        img {
            width: 32vw;
            margin: 0 auto;
    
            @include for-desktop {
                width: 9.3vw;
            }
        }
    }
    .feature-area-e {
        grid-area: spine;
    }

    .mute{
        opacity:.2
    }
    .strike{
        text-decoration: line-through;
    }
    .discount{
        color:red;
    }

}