@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


h1,
h2,
h3 {
    font-family: $heading-font;
    color: $bodhi-dark-copy;
}

ul,
li,
a {
    font-family: $body-font;
}

h1 {
    font-size: $h1-size-m;
    text-align: center;

    @include for-desktop {
        // text-align: left;
        font-size: $h1-size-dt;
    }
}

h2 {
    font-size: $h2-size-m;
    text-align: center;

    @include for-desktop {
        // text-align: left;
        font-size: $h2-size-dt;
    }
}

h3 {
    font-size: $h3-size-m;

    @include for-desktop {
        font-size: $h3-size-dt;
    }
}

p {
    font-family: $body-font;
    font-size: $p-size-m;
    text-align: center;
    font-weight: 400;
    color: $bodhi-dark-copy;

    @include for-desktop {
        // text-align: left;
        font-size: $p-size-dt;
    }
}